* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #E3F2fD;
}

h1 {
    font-size: 1.72rem;
    color: #fff;
    padding: 18px 0;
    text-align: center;
    background: blue;
}

.content{
    display: flex;
    width: 100%;
    gap: 35px;
    padding: 30px;
}

.weather_input {
    width: 400px;
}

.weather_input input {
    width: 90%;
    height: 46px;
    outline: none;
    padding: 0 17px;
    margin: 10px 0 17px;
    font-size: 1.7rem;
    border-radius: 4px;
    border: 1px solid #ccc;
   
}


.weather_input .separator {
    height: 10px;
    width: 90%;
    background: #bbb;
    margin: 25px 0;
    align-items: center;
    justify-content: center;
    display: flex;
}


.weather_input .separator::before{
    content: "Or";
    color: #6c756c;
    font-size: 1.18rem;
    padding: 0 15px;
    background: #E3F2fD;
    display: flex;
}

.weather_input .search-btn{
    width: 90%;
    outline: none;
    padding: 10px 0;
    cursor: pointer;
    border: none;
    color: #fff;
    background: blue;
    border: 5px;
}
.weather_input .search-btn2{
    width: 90%;
    outline: none;
    padding: 10px 0;
    cursor: pointer;
    border: none;
    color: #fff;
    background: green;
    border: 5px;
}


.weather-data {
    width: 100%;
    
}

.details{
    padding: 10px;
}



.current-weather{
    color: #fff;
    margin: 10px;
    padding: 20px 70px 20px 20px;
    border-radius: 5px;
    background: blue;
    justify-content: space-between;
    display: flex;
    gap: 270px;
}

.current-weather h2{
    font-size: 1.7rem;
}

.current-data h4{
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 500;

}

.current-weather .icon img{
        max-width: 120px;
        margin-top: 8px;
        border-radius: 10px;
}

.current-weather .icon h4{
    margin-top: 5px;
    text-transform: capitalize;
}

.days-forecast{
    font-size: 1rem;
    gap:  30px;
    display: flex;

}


.card{
    display: table-cell;
    padding: 5px; 
}


.card1{
    border: 1px solid blue;
    width: 180px;
    height: 230px;
    align-items: center;
    padding: 29px;
    justify-content: center;
    text-align: center;
    background-color: white;
    margin: 20px 0 20px;
  
}



.weather-card {
    list-style: none;
    padding: 10px 16px;
    border-radius: 5px;
    margin: 0px;  
    display: flex;
}


.weather-card .card img{
    max-width: 70px;
    margin: 0;
    border-radius: 10px;
}


.newData{
    flex-direction: column;
}